{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['order', 'customize_invoice_billing'] %}

{% block title %}{{ 'customize.admin.setting.invice.invoice_billing'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.order.order_management'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
<script>
$(function() {
    // メール送信履歴
    $("[id^='externalMailSendStatus_']").on('click', function() {
        var list = $('#externalMailSendStatusList');
        var modal_title = $('#externalMailSendStatusTitle');
        var modal_title_text = $(this).data('modal-title');

        list.children().remove();
        modal_title.empty();

        $.ajax({
            url: '{{ url('admin_invoice_docurain_invoice_external_mail_send_history') }}',
            type: 'POST',
            dataType: 'html',
            data: {
                'customer_id': $(this).data('customer-id'),
                'year': {{ year }},
                'month': {{ month }}
            }
        }).done(function(data) {
            $('#externalMailSendStatusList').html(data);
            $('#externalMailSendStatusTitle').html(modal_title_text);
        }).fail(function(data) {
            alert('external mail send history failed.');
        });
    });

    // モーダルメール送信ボタン
    $("[id^='invoiceExternalMailSendButton']").on('click', function() {
        $('#invoiceExternalMailSend').modal('hide');
    });

    // ダウンロード履歴
    $("[id^='externalDownloadStatus_']").on('click', function() {
        var list = $('#externalDownloadStatusList');
        var modal_title = $('#externalDownloadStatusTitle');
        var modal_title_text = $(this).data('modal-title');

        list.children().remove();
        modal_title.empty();

        $.ajax({
            url: '{{ url('admin_invoice_docurain_invoice_external_download_history') }}',
            type: 'POST',
            dataType: 'html',
            data: {
                'customer_id': $(this).data('customer-id'),
                'year': {{ year }},
                'month': {{ month }},
                'aggregated': 0
            }
        }).done(function(data) {
            $('#externalDownloadStatusList').html(data);
            $('#externalDownloadStatusTitle').html(modal_title_text);
        }).fail(function(data) {
            alert('external mail send history failed.');
        });
    });

    // モーダルXlsx作成ボタン
    $("[id^='invoiceExternalDownloadCreateXlsxButton']").on('click', function() {
        $('#invoiceExternalDownloadCreateXlsx').modal('hide');
    });

    // モーダルPDF作成ボタン
    $("[id^='invoiceExternalDownloadCreatePdfButton']").on('click', function() {
        $('#invoiceExternalDownloadCreatePdf').modal('hide');
    });

    // モーダルダウンロードボタン
    $(".download_history").on('click', function() {
        $('#invoiceExternalDownload').modal('hide');
    });

    $('[id^=invoiceExternalDownloadCreate]').on('shown.bs.modal', function(event) {
        $('#invoiceExternalDownload').modal('hide');
    });
});
</script>
{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">

                <div class="row justify-content-start">
                    <div>
                        <form id='form1' method="post" action="{{ url('customize_admin_setting_invoice_billing') }}">
                            {{ form_widget(form._token) }}
                            <div class="c-outsideBlock__contents">
                                <div class="row justify-content-start">
                                    <div class="col">
                                        <div class="mb-2">
                                            <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'customize.tooltip.setting.invice.billing.multi_search_label'|trans }}">{{ 'customize.admin.setting.invice.billing.multi_search_label'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                                            <div class="form-inline">
                                                {{ form_widget(form.multi, {'attr': {'style': 'margin-right:5px'}}) }}
                                                {{ form_errors(form.multi) }}
                                                {{ form_widget(form.year) }} 年
                                                {{ form_widget(form.month) }} 月
                                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.search'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-between mb-2">
                    <div class="col-6"></div>
                    <div class="col-6 text-right">
                        <ul id="download-info" class="list-inline">
                        </ul>
                        <p class="mb-2">
                            <a href="https://www.notion.so/bestbeerjapan/3904fd841aaa44d6be545f6cf7ac3255?pvs=4">
                                <i class="fa fa-question-circle fa-lg ml-1"></i>発行枚数の計算方法について
                            </a>
                        </p>
                        <p class="badge bg-danger text-white mb-2">チェックボックスに関わらず一覧すべての請求書をダウンロードします</p>
                        <div class="d-inline-block">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-ec-regular dropdown-toggle" data-toggle="dropdown" id="invoiceDownloadDropDown" style="border-top-right-radius: 0;border-bottom-right-radius: 0;">
                                    <i class="fa fa-cloud-download mr-1 text-secondary"></i>
                                    <span>{{ 'invoice_docurain.admin.common.invoice_download'|trans }}</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-old">
                                </div>
                                <a class="btn btn-ec-regular" data-toggle="modal" data-target="#invoiceExternalDownload">
                                    <i class="fa fa-cloud-download mr-1 text-secondary"></i>
                                    <span>{{ 'admin.common.invoice_download'|trans }}</span>
                                </a>
                                <a class="btn btn-ec-regular" data-toggle="modal" data-target="#invoiceExternalMailSend">
                                    <i class="mr-1 fa fa-envelope fa-lg text-secondary"></i>
                                    <span>{{ 'customize.admin.setting.invice.billing.invoice_external_mail_send'|trans }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded border-0 mb-4 d-block">
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.customer.customer_id'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'common.company_name'|trans }} / {{ 'common.customize_store_name'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.common.name'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.order_status'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'customize.admin.setting.invice.billing.invoice_external_mail_send.table_title'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download.table_title'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.purchase_price'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.buy_date'|trans }}</th>
                                <th class="border-top-0 pt-2 pb-2 text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set customerIds = []%}
                            {% for Order in Orders %}
                                {% if Order.Customer %}
                                    {% if Order.Customer.id not in customerIds %}
                                        {% set customerIds = customerIds|merge([Order.Customer.id]) %}
                                    {% endif %}
                                    {% set CustomerJobLatest = external_send_mail_latest_status(Order.Customer.id, year, month) %}
                                {% endif %}
                                <tr id="ex-{% if Order.Customer %}{{ Order.Customer.id }}{% else %}nonmenber-{{ loop.index }}{% endif %}"{% if Order.Customer and CustomerJobLatest.error %} class="table-danger"{% endif %}>
                                    <td class="align-middle text-center pl-3 pr-3 pt-3 pb-3">
                                        {% if Order.Customer %}{{ Order.Customer.id }}{% else %}非会員{% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        {% if Order.Customer %}{{ Order.Customer.company_name }}{% if Order.Customer.company_name %}<br>{% endif %}{{ Order.Customer.customize_store_name }}{% else %}{{ Order.company_name }}{% if Order.company_name %}<br>{% endif %}{{ Order.customize_store_name }}{% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        {% if Order.Customer %}{{ Order.Customer.name01 }}{{ Order.Customer.name02 }}{% else %}{{ Order.name01 }}{{ Order.name02 }}{% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge badge-ec-blue" style="background-color: #fff; color: {{ Order.OrderStatusColor }}; border-color: {{ Order.OrderStatusColor }}">{{ Order.OrderStatus }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        {% if Order.Customer %}
                                            {{ CustomerJobLatest.tag|raw }}
                                            <a id="externalMailSendStatus_{{ Order.Customer.id }}" data-toggle="modal" data-target="#externalMailSendStatus" data-customer-id="{{ Order.Customer.id }}" data-modal-title="{{ 'customize.admin.setting.invice.billing.invoice_external_mail_send_status_title'|trans({'%customer_id%': Order.Customer.id, '%year%':year, '%month%':month}) }}"
                                               aria-hidden="true" data-tooltip="true" data-placement="top" data-original-title="メール送信履歴">
                                                <i class="fa fa-list fa-lg text-secondary"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        {% if Order.Customer %}
                                        <a id="externalDownloadStatus_{{ Order.Customer.id }}" data-toggle="modal" data-target="#externalDownloadStatus" data-customer-id="{{ Order.Customer.id }}" data-modal-title="{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_status_title'|trans({'%customer_id%': Order.Customer.id, '%year%':year, '%month%':month}) }}"
                                           aria-hidden="true" data-tooltip="true" data-placement="top" data-original-title="ダウンロード履歴">
                                            <i class="fa fa-list fa-lg text-secondary"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        {{ Order.payment_total|price }}({{ 'common.tax_include'|trans }})
                                    </td>
                                    <td class="align-middle text-center">
                                        {{ Order.order_date|date_min }}
                                    </td>
                                    <td class="align-middle pr-3" colspan="3">

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- メール送信履歴モーダル -->
                <div class="modal fade" id="externalMailSendStatus" tabindex="-1" role="dialog" aria-labelledby="externalMailSendStatus" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" id="externalMailSendStatusTitle"></h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" id="externalMailSendStatusList"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ダウンロード履歴モーダル -->
                <div class="modal fade" id="externalDownloadStatus" tabindex="-1" role="dialog" aria-labelledby="externalDownloadStatus" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" id="externalDownloadStatusTitle"></h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" id="externalDownloadStatusList"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ダウンロードモーダル -->
                <div class="modal fade" id="invoiceExternalDownload" tabindex="-1" role="dialog" aria-labelledby="invoiceExternalDownload" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create_history'|trans }}（{{ form.year.vars.value }}年{{ form.month.vars.value }}月分）</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                {% if Histories is not empty %}
                                    <p>最終作成日時（{{ Histories.0.request_date|date_sec }}）以降に請求内容に変更があった場合は、新しく「請求書作成」を行ってください。</p>
                                {% endif %}
                                <div class="text-right">
                                    <div class="btn-group" role="group">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-ec-regular dropdown-toggle" data-toggle="dropdown" id="invoiceDownloadDropDown">
                                                <i class="fa fa-cloud-download mr-1 text-secondary"></i>
                                                <span>{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create'|trans }}</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" data-toggle="modal" data-target="#invoiceExternalDownloadCreateXlsx">{{ 'invoice_docurain.admin.common.invoice_summary_download_xls'|trans }}</a>
                                                <a class="dropdown-item" data-toggle="modal" data-target="#invoiceExternalDownloadCreatePdf">{{ 'invoice_docurain.admin.common.invoice_summary_download_pdf'|trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped mt-3">
                                    <thead class="table-active">
                                    <tr>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.create_date_time'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.designated member_id'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.format'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.status'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.download'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for History in Histories %}
                                        <tr>
                                            <td class="align-middle text-center">
                                                {{ History.request_date|date_sec }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {% if History.customer_id is not null %}{{ History.customer_id }}{% else %}すべて{% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ History.out_type }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {% if History.status == 'processing' %}
                                                    作成中
                                                {% elseif History.status == 'complete' %}
                                                    {% if History.download_count == 0 %}作成完了（未DL）{% else %}DL済{% endif %}
                                                {% elseif History.status == 'api_error' %}
                                                    問い合わせ失敗・BBJにお問い合わせください。
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                {% if History.status == 'complete' %}
                                                    <a class="btn btn-ec-regular download_history" href="{{ url('admin_invoice_docurain_invoice_external_download_download', { 'id': History.id }) }}">
                                                        <i class="fa fa-cloud-download text-secondary"></i>
                                                    </a>
                                                {% else %}
                                                    <i class="fa fa-refresh fa-fw fa-lg text-secondary mr-2" aria-hidden="true" data-tooltip="true" data-placement="top" data-original-title="作成中"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="align-middle text-center" colspan="5">
                                                <p class="mt-5">ダウンロード可能な請求書がありません。<p>
                                                <p class="mb-5">上のボタンで請求書を作成してください。<p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.close'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ダウンロード作成XLSXモーダル -->
                <div class="modal fade" id="invoiceExternalDownloadCreateXlsx" tabindex="-1" role="dialog" aria-labelledby="invoiceExternalDownloadCreateXlsx" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.xlsx'|trans }}</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                {{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.modal_text'|trans({"%count%":Orders|length})|raw }}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                <a id="invoiceExternalDownloadCreateXlsxButton" class="btn btn-ec-conversion" href="{{ url('admin_invoice_docurain_invoice_external_download_create', { 'type': 'xlsx' }) }}">
                                    {{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.modal_create_button'|trans({"%count%":Orders|length}) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ダウンロード作成PDFモーダル -->
                <div class="modal fade" id="invoiceExternalDownloadCreatePdf" tabindex="-1" role="dialog" aria-labelledby="invoiceExternalDownloadCreatePdf" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold">{{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.pdf'|trans }}</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                {{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.modal_text'|trans({"%count%":Orders|length})|raw }}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                <a id="invoiceExternalDownloadCreatePdfButton" class="btn btn-ec-conversion" href="{{ url('admin_invoice_docurain_invoice_external_download_create', { 'type': 'pdf' }) }}">
                                    {{ 'invoice_docurain.admin.order.summary.invoice_billing.invoice_external_download_create.modal_create_button'|trans({"%count%":Orders|length}) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 請求書メール送信モーダル -->
                <div class="modal fade" id="invoiceExternalMailSend" tabindex="-1" role="dialog" aria-labelledby="invoiceExternalMailSend" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold">{{ 'customize.admin.setting.invice.billing.invoice_external_mail_send.pdf'|trans }}</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                {{ 'customize.admin.setting.invice.billing.invoice_external_mail_send.modal_text'|trans({"%count%":customerIds|length})|raw }}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                <a class="btn btn-ec-conversion" data-action="cancel" href="{{ url('admin_invoice_docurain_invoice_external_mail_send') }}">
                                    {{ 'customize.admin.setting.invice.billing.invoice_external_mail_send.modal_send_button'|trans({"%count%":customerIds|length}) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
